VITE_SHEET_NAME = sheet_name
VITE_SPREADSHEET_ID = spread_sheet_id
VITE_GAMEJAMSHEET_NAME_GAMES = "Games"
VITE_GAMEJAMSHEET_NAME_SETTINGS = "JamSettings"
VITE_GAMEJAMSHEET_ID = spread_sheet_id
VITE_SPACETIMEDB_URI = "ws://localhost:3000"
VITE_SPACETIMEDB_MODULE_NAME = "module-name"

"# Firebase Configuration
VITE_FIREBASE_API_KEY = "api_key"
VITE_FIREBASE_AUTH_DOMAIN = auth_domain
VITE_FIREBASE_PROJECT_ID = project_id